<ion-header class="norbel-header">
  <ion-toolbar>
    <ion-title>Norbel</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item lines="none" class="page-title-box  ion-no-padding"  style="--inner-padding-end: 0 !important;">
    <ion-label>
      Loyalty Scanner
    </ion-label>
  </ion-item>

  <div class="page-pad-box ">



    <div class="click-scan-code">
      <div class="stapm-code-box">
        <img src="assets/img/cofee-img.png">
     </div>
      <h1>You Win Free    <br>Coffee</h1>
      <ion-button expand="block" class="norbel-btn" (click)="doScanQRCodeFreeCoffee('yes')">Return</ion-button>
      <ion-button expand="block" class="norbel-btn" (click)="doScanQRCodeFreeCoffee('no')">Skip</ion-button>
    </div>

    <div class="code-manually">
    <p> Note: User will need to refresh app and be connected to wifi for stamp to be visible.</p>

   </div>
 
  </div>
</ion-content>
